<div class=jumbotron>
    <h1>
        Guitar Trainer
        <img src="logo.svg" alt="logo">
    </h1>
    <p>By <a href="http://29a.ch/">Jonas Wagner</a></p>
    <p>This is a work in progress. You can follow it's development on <a href="https://github.com/jwagner/guitarTrainer/">github</a>.</p>
    <h2>Credits</h2>
    <ul>
        <li><a href="https://www.freesound.org/people/Jesterroot4/sounds/47951/">kick.wav</a> by <a href="https://www.freesound.org/people/Jesterroot4/">Jesterroot4</a> (<a href="http://creativecommons.org/licenses/sampling+/1.0/">CC Sampling Plus</a>)</li>
    </ul>
</div>
