<nav class="navbar navbar-inverse" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style='margin-top:-5px;'><img src="logo.svg" style="max-width:100%;max-height:100%">Guitar Trainer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse=navbarCollapsed id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in navigation" ng-class="{active: isActive(item)}"><a href="#{{ item.href }}" ng-click="$parent.navbarCollapsed=true">{{ item.text }}</a></li>
        </ul>
    </div>
</div>
</nav>

